h1 {
    color: red;
    background-color: rgb(80, 103, 177);
    font-size: 50 px;
    text-decoration: underline;
    font-family: arial;
    text-align: center;
}

p {
    color: orange;
    text-align: left;
    line-height: 30px
}

p2 {
    color: rgb(132, 143, 71);
    line-height: 10px
}

form {
    /*  border-width: 4px; */
    border-bottom: 4px solid crimson;
    border-left: 5px solid crimson;
    list-style-type: armenian;
}

p {
    list-style-type: none;
    text-shadow: 1px 1px lightcoral;
}

answer {
    color: red;
}

div {
    border: 2px solid rgb(40, 20, 220);
    margin: 10px;
    padding: 20px;
}